@import 'tailwindcss';

@theme background-color {
  --background-color-surface-1: var(--color-white);
  --background-color-surface-2: var(--color-gray-50);
  --background-color-surface-3: var(--color-gray-100);
  --background-color-surface-inverse: var(--color-gray-800);
  --background-color-surface-orange: var(--color-orange-100);
  --background-color-surface-blue: var(--color-blue-100);
  --background-color-surface-dim: var(--color-black);
  --background-color-base-1: var(--color-white);
  --background-color-base-2: var(--color-gray-50);
  --background-color-base-3: var(--color-gray-100);
  --background-color-active: var(--color-gray-50);
  --background-color-disabled: var(--color-gray-50);
  --background-color-inverse: var(--color-gray-800);
  --background-color-orange-strong: var(--color-orange-500);
  --background-color-orange: var(--color-orange-400);
  --background-color-orange-weak: var(--color-orange-200);
  --background-color-blue-strong: var(--color-blue-500);
  --background-color-blue: var(--color-blue-400);
  --background-color-blue-weak: var(--color-blue-200);
  --background-color-accent: var(--color-orange-50);
  --background-color-info: var(--color-orange-50);
  --background-color-correct: var(--color-green-200);
  --background-color-incorrect: var(--color-red-200);
}

@theme border-color {
  --border-color-outline: var(--color-gray-100);
  --border-color-divider: var(--color-gray-100);
  --border-color-box: var(--color-gray-200);
  --border-color-active: var(--color-gray-600);
  --border-color-accent: var(--color-orange-400);
  --border-color-success: var(--color-green-500);
  --border-color-error: var(--color-red-500);
  --border-color-correct: var(--color-green-500);
  --border-color-incorrect: var(--color-red-500);
}

@theme text-color {
  --text-color-primary: var(--color-gray-900);
  --text-color-secondary: var(--color-gray-700);
  --text-color-sub: var(--color-gray-500);
  --text-color-caption: var(--color-gray-300);
  --text-color-inverse: var(--color-white);
  --text-color-inverse-dim: var(--color-gray-100);
  --text-color-disabled: var(--color-gray-200);
  --text-color-success: var(--color-green-500);
  --text-color-critical: var(--color-red-500);
  --text-color-error: var(--color-red-500);
  --text-color-info: var(--color-blue-500);
  --text-color-accent: var(--color-orange-500);
  --text-color-correct: var(--color-green-500);
  --text-color-incorrect: var(--color-red-500);

  --text-color-icon-primary: var(--color-gray-900);
  --text-color-icon-secondary: var(--color-gray-500);
  --text-color-icon-sub: var(--color-gray-300);
  --text-color-icon-inverse: var(--color-white);
  --text-color-icon-inverse-dim: var(--color-gray-100);
  --text-color-icon-accent: var(--color-orange-500);
  --text-color-icon-info: var(--color-blue-500);
  --text-color-icon-critical: var(--color-red-500);
  --text-color-icon-disabled: var(--color-gray-200);
  --text-color-icon-correct: var(--color-green-500);
  --text-color-icon-incorrect: var(--color-red-500);
}
