@import 'tailwindcss';

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: #f8f8f7;
  --color-gray-100: #ecece9;
  --color-gray-200: #d9d7d4;
  --color-gray-300: #c3c3c1;
  --color-gray-400: #b4b4b2;
  --color-gray-500: #8b8b87;
  --color-gray-600: #787774;
  --color-gray-700: #545454;
  --color-gray-800: #3b3a39;
  --color-gray-900: #1c1c1a;

  --color-blue-50: #edf4ff;
  --color-blue-100: #deecff;
  --color-blue-200: #c4dbff;
  --color-blue-300: #a0c2ff;
  --color-blue-400: #7a9eff;
  --color-blue-500: #4d7bf9;
  --color-blue-600: #3d60ee;
  --color-blue-700: #2f40d3;
  --color-blue-800: #2939aa;
  --color-blue-900: #1b276a;

  --color-orange-50: #fff7ed;
  --color-orange-100: #fff1d5;
  --color-orange-200: #ffdea9;
  --color-orange-300: #fec473;
  --color-orange-400: #fda53a;
  --color-orange-500: #fb8320;
  --color-orange-600: #ec6c0a;
  --color-orange-700: #c3440b;
  --color-orange-800: #93230d;
  --color-orange-900: #791e0e;

  --color-green-200: #e6f7e3;
  --color-green-500: #3acc83;

  --color-red-200: #fde7dd;
  --color-red-500: #f4502c;

  --shadow-md: 0 4px 28px 0 rgba(0, 0, 0, 0.1);
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior-x: none;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE, Edge */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-display: 'SUIT-Regular', 'sans-serif';

  --spacing-tab-navigation: 84px;

  --header-height: 54px;

  --header-height-safe: calc(54px + env(safe-area-inset-top));
}

@layer base {
  html {
    @apply h-screen w-screen;
  }
  body {
    @apply font-display h-screen w-screen overscroll-y-none select-none;
  }
  button {
    @apply cursor-pointer focus:outline-none;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .safe-area-space {
    @apply pt-[env(safe-area-inset-top)] pr-[env(safe-area-inset-right)] pb-[env(safe-area-inset-bottom)] pl-[env(safe-area-inset-left)];
  }
  .safe-dvh {
    @apply h-[calc(100dvh-env(safe-area-inset-top))];
  }
  .header-h-safe {
    height: calc(54px + env(safe-area-inset-top));
  }
}
